@font-face {
    font-family: "Vazir";
    src: url("../fonts/Vazir.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/Vazir.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Vazir.woff2") format("woff2"),
        url("../fonts/Vazir.woff") format("woff"),
        url("../fonts/Vazir.ttf") format("truetype");
    /* Safari, Android, iOS */
}

body {
    font-family: "Vazir" !important;
}
.icon{
    color: #0d6efd;
    background-color: #d9d9db;
    padding: 15px;
    border-radius: 15px;
    display: inline-flex;
}
.meshkicard{
    height: 550px;
    background-color: #1b1a1a;
    border-radius: 10px;
}
.rang{
    color: white;
}
.bgmain{
    background-color: #1b1a1a;
}
/* .row1 img{
    display: inline-flex;
    width: 150px;
    height: 50px;
    margin-left: 50px;
    /* padding: 0 50px; */
    
/* }
.col-md-6 input{
    width: 350px;

} */ 

.footer-link{
    text-decoration: none;
    color: black;

}
.footer-link:hover{
    color: black;
}
.footer-header{
    border-bottom: 3px solid black;
    height: 35px;
}
